<div>
    <table class = "table table-borderless">
        <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Available</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
                <tr>
                    <td><%= product.category.name %></td>
                    <td><%= product.name %></td>
                    <td><%= product.description %></td>
                    <td><%= product.price %></td>
                    <td>
                        <% if product.available? %>
                            Yes
                        <% else %>
                            No
                        <% end %>
                    </td>
                    <td>
                        <%= link_to 'Edit', "#", class: "btn btn-success" %>
                        <%= link_to 'Delete', "#", class: "btn btn-danger" %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>